@import url('https://fonts.googleapis.com/css?family=Rubik:300i,400,400i,500,700');

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.flexy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .flex-item {
    width: 40%;
  }
}
